<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue to Do List</title>
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="add_task">
                <h3 class="my-4 text-primary display-4 font-weight-bold text-shadow">My To-Do List</h3>
                <div class="input-group">
                    <input class="form-control border-dark" v-model="newTask.text" @keyup.enter="addTask" type="text"
                        placeholder="Add new task">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" @click="addTask">Add Task</button>
                    </div>
                </div>
            </div>
            <div class="task_list py-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-dark"
                        @click="taskDone(i, task)" :class="task.done === true ? 'done_true' : '' "
                        v-for="(task, i) in tasks">
                        {{task.text}}
                        <i @click="taskRemove(i)" class="fa-solid fa-circle-xmark"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>